<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head") %>

        <title>Database Test</title>
    
    </head>
    
    <body>
        <%- include("partials/navbar") %>
        <form id="testForm" class="form container">
            <label for="abr" class="label">City Abr</label>
            <input type="text" id="abr" class="input">

            <label for="country" class="label">Country</label>
            <input type="text" id="country" class="input">

            <label for="state" class="label">State</label>
            <input type="text" id="state" class="input">

            <button type="submit" id="submit" class="button">Save</button>

        </form>
        <p id="result" class="result"></p>


        <script src="scripts/databaseTestScript.js"></script>
    </body>


</html>
