<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include("partials/head") %>

  <meta name="description" content="Welcome to Odyssey! We take the research out of planning a trip by learning about you and curating unique, custom trips!">
  <meta name="keywords" content="travel, Europe, Asia, backpacking, vacation">
  
  <title>Odyssey</title>

  <%- include("partials/signInStyle", {
    imagePath : "images/balloons2.jpg"
  }) %>
  
</head>
<body>
  <div class="background-photo"></div>
      <div class="container">
        <h1 class="title is-size-1 has-text-white">Welcome to Odyssey</h1>
        <h1 class="title has-text-white">Please <a class="has-text-primary" href="loginPage">login</a> or <a class="has-text-primary" href="/register">register</a> to get started.</h1>
      </div>
  <script src="scripts/landingScript.js"></script>
</body>
</html>