
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/bulma.css">
    <title>Landing</title>
</head>
<div class="has-text-right">
    <% if (loggedInBool) { %>
        <p> <%= username %>, you are logged in.</p>
    <% } else { %>
        <p> You are not logged in.</p>
    <% } %> 
</div>
<body>
    <div class="container">
        <h1>Begin Your Odyssey</h1>
        <button id="toSearch">Search</button>
        <button id="testDatabase">Test Database</button>
    </div>
    <div class='container'>
        <% if (loggedInBool) { %>
        <% } else { %>
        <button id='login'>Login</button>
        <button id="register">Register</button>
        <% } %> 

    </div>

    <script src="scripts/landingScript.js"></script>
</body>
</html>
