
<html lang="en">
<head>
    
    <%- include("partials/head") %>

    <title>Landing</title>
</head>

<body>
    
    <%- include("partials/navbar") %>

      
    <div class="container">
        <h1>Begin Your Odyssey</h1>
        <button class="button" id="toSearch">Search</button>
        <button class="button" id="testDatabase">Test Database</button>
    </div>
    <div class='container'>
        <% if (loggedInBool) { %>
        <% } else { %>
        <button class="button" id='login'>Login</button>
        <button class="button" id="register">Register</button>
        <% } %> 

    </div>

    <script src="scripts/landingScript.js"></script>
</body>
</html>
