<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include("partials/head") %>

      <title>Sign In</title>

      <%- include("partials/signInStyle") %>


    </head>

    <body>
      <div class="background-photo"></div>
      <div class="container">
        <div class="form-container container">
          <h1 class="title is-size-1 has-text-primary">ODYSSEY</h1>
          <p class="subtitle is-size-3 has-text-white">PLAN YOUR TRIP WITH<br>JUST A FEW CLICKS</p>
          <form id="loginForm">
            <div class="field">
              <label for="username" class="label has-text-white is-size-4">USERNAME</label>
              <div class="control">
                <input id="username" type="text" class="input is-rounded is-large" required>
              </div>
            </div>
            <div class="field">
              <label for="password" class="label has-text-white is-size-4">PASSWORD</label>
              <div class="control">
                <input id="password" type="password" class="input is-rounded is-large" required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button type="submit" id="submit" class="button is-rounded is-primary is-size-4">LOGIN</button>        
              </div>
              <div class="field">
                <p class="label has-text-white is-size-5">No account? <a href="/register" class="link has-text-primary">Create one!</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <script src="scripts/loginScript.js"></script>
    </body>
    
    </html>