<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include("partials/head") %>

        <title>Login</title>

    </head>
  
    <body>
        <%- include("partials/navbar") %>

          <form id="loginForm" class="form container">
            <div class="field">
              <label for="username" class="label">Username</label>
              <div class="control">
                <input id="username" type="text" class="input" required>
              </div>
            </div>
          
            <div class="field">
              <label for="password" class="label">Password</label>
              <div class="control">
                <input id="password" type="password" class="input" required>
              </div>
            </div>
          
            <div class="field">
              <div class="control">
                <button type="submit" id="submit" class="button is-primary">Login</button>
                <a href="/register" class="link">Register</a>
              </div>
            </div>
          </form>
          
          <p id="result" class="result form container">Result</p>
          

        <script src="scripts/loginScript.js"></script>
    </body>
</html>
