<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>
    <link rel="stylesheet" href="styles/bulma.cs">
</head>
<div class="header">
    <% if (loggedInBool) { %>
        <p> <%= username %>, you are logged in.</p>
    <% } else { %>
        <p> You are not logged in.</p>
    <% } %> 
</div>
<body>
    <form id="registerForm" class="form container">
        <label for="username" class="label">Username</label>
        <input id="username" type="text" class="input" required>

        <label for="email" class="label">Email</label>
        <input id="email" type="email" class="input" required>

        <label for="password" class="label">Password</label>
        <input id="password" type="password" class="input" required>

        <button type="submit" id="submit" class="button">Register</button>
        <a href="/loginPage" class="link">Login</a>
    </form>
    <p id="result" class="result form container">Result</p>

    <script src="scripts/registerScript.js"></script>    
</body>
</html>
