
<!------------------------------------------------------------------------------------------>

<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include("partials/head") %>

      <title>Sign In</title>

      <%- include("partials/signInStyle", {
        imagePath : "images/balloons2.jpg"
      }) %>


    </head>

    <body>
      <div class="background-photo"></div>
      <div class="container">
        <div class="form-container container">
          <h1 class="title is-size-2 has-text-primary">ODYSSEY</h1>
          <p class="subtitle is-size-4 has-text-white">PLAN YOUR TRIP WITH<br>JUST A FEW CLICKS</p>
          <form id="registerForm">

            <div class="field">
              <label for="username" class="label has-text-white is-size-5">USERNAME</label>
              <div class="control">
                <input id="username" type="text" class="input is-rounded is-large" required>
              </div>
            </div>

            <div class="field">
                <label for="email" class="label has-text-white is-size-5">EMAIL</label>
                <div class="control">
                  <input id="email" type="email" class="input is-rounded is-large" required>
                </div>
              </div>


            <div class="field">
              <label for="password" class="label has-text-white is-size-5">PASSWORD</label>
              <div class="control">
                <input id="password" type="password" class="input is-rounded is-large" required>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button type="submit" id="submit" class="button is-rounded is-primary is-size-4">LOGIN</button>        
              </div>
            </div>

              <div class="field" id="result"></div>

              <div class="field">
                <p class="label has-text-white is-size-5">Have an account? <a href="/loginPage" class="link has-text-primary">Login Here</a></p>
              </div>
              
           
          </form>
        </div>
      </div>
      <script src="scripts/registerScript.js"></script>    
    </body>
    
    </html>


