<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/searchStyles.css">
    <title>Flight Search</title>
</head>
<div class="header">
    <% if (loggedInBool) { %>
        <p> <%= username %>, you are logged in.</p>
    <% } else { %>
        <p> You are not logged in.</p>
    <% } %> 
</div>
<body>
    <h1 class="page-title">Flight Search</h1>

    <form id="flightForm" class="flight-form">
        <label for="origin">Origin ( Ex: NYC ):</label>
        <input type="text" id="origin" class="form-input" required>

        <label for="destination">Destination ( Ex: LAX ):</label>
        <input type="text" id="destination" class="form-input" required>

        <label for="date">Date:</label>
        <input type="date" id="date" class="form-input" required>

        <button type="submit" class="search-button">Search Flights</button>
    </form>

    <div id="flightContainer" class="flight-container">
        <h1 class="container-title"></h1>
    </div>

    <script src="scripts/searchScript.js"></script>
</body>
</html>
