<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>

  <title>Welcome to your Odyssey</title>

</head>

<body>
  <%- include("partials/navbar") %>
  <div class="container">
    <h1 class="heading">Welcome to your Odyssey</h1>
  </div>
</body>
</html>
